.eventTable{
    width: 100%;
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 1px;
}
.eventTable *{
    text-align: center;
    vertical-align: middle;
}

.tableHead{
    width: 100%;
    font-size: 20px;
    background-color: #eb7063;
}
.tableHead > * > *{
    padding: 5px;
    color: #dedede;
}

.loadingMsg {
    text-align: center;
    margin: 30px auto;
    color: #f96d61;
    font-size: 25px;
    width: max-content;
}

.nextPage,
.prevPage{
    position: fixed;
    color: #e9e9e9;
    background-color: #eb7063;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: 60%;
    font-weight: 600;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.nextPage:hover,
.prevPage:hover{
    background-color: #c83149;
}

.prevPage{
    left: 0;
}

.nextPage{
    right: 0;
}

@media screen and (max-width: 760px){
    .eventTable,
    .eventTable thead,
    .eventTable tbody,
    .eventTable th,
    .eventTable td,
    .eventTable tr {
        display: block;
    }

    .tableHead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .eventTable tr { border: 1px solid #ccc }

    .eventTable td{
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .eventTable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        color: #ad4242;
        font-weight: 500;
        font-size: 20px;
        top: calc(50% - 12px);
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .eventTable td:nth-of-type(1):before { content: "Картинка"}
    .eventTable td:nth-of-type(2):before { content: "Название"}
    .eventTable td:nth-of-type(3):before { content: "Дата и время начала"}
    .eventTable td:nth-of-type(4):before { content: "Местонахождение"}

}
